
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logout-container {
  float: right;
}

.topnav .logout-container a {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .logout-container a:hover {
  background-color: green;
}

/* Center Content */
.center-container {
    text-align: center;
    padding: 20px; 
}

.center-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.center-container img {
    margin-right: 10px; 
}

.center-container h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
}

.center-container h1 img {
    vertical-align: middle; 
    margin-right: 10px; 
}

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    height: 580px;
    width: 500px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto; 
  overflow: hidden;
  max-width: 100%; 
}

/* Individual slides */
.mySlides {
  display: none;
  text-align: center;
}

.mySlides img {
  width: 100%; 
  height: auto; 
  filter: brightness(70%);
}

/* Caption text */
.text {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.text h1 {
    font-size: 70px; 
}

/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Section */
.section {
    background-color: #3498db; 
    color: #fff; 
    padding: 50px 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.section img {
    max-width: 35%; 
    height: auto;
    border-radius: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

.section h1 {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}


/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    margin-right: 20px; 
}

.footer-information {
    margin-top: 100px; 
}

.footer-content .footer-information p {
    font-size: 18px;
    text-align: left;
}

.footer-content img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo-img {
    max-width: 200px;
    height: auto;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 375px) {
  /* Center Content */
  .center-container h1 {
      font-size: 24px;
  }

  .center-container h1 img {
      margin-right: 5px;
  }

  /* Slideshow container */
  .mySlides img {
      height: auto;
      width: 100%;
  }

  /* Caption text */
  .text h1 {
      font-size: 20px;
  }

  /* Section */
  .section img {
      max-width: 500px; 
  }

  .section h1 {
      font-size: 16px;
  }

  /* Footer */
  .footer-content p {
      font-size: 7px;
  }

  .footer-content img {
      max-width: 150px; 
  }
}

