/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13 Sep 2023, 1:38:10 pm
    Author     : Yeoh Hong Ming
*/
a {
    color: #ffd700; /* Set the desired color for the anchor text (e.g., gold/yellow) */
    text-decoration: none; /* Remove underline from anchor text */
}

a:hover {
    color: #ff9900; /* Set the desired color for the anchor text on hover (e.g., darker gold/yellow) */
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px; /* Adjust the font size as needed */
    color: #fff; /* Set the text color */
    margin-top: 10px; /* Add margin at the top for spacing */
    margin-left: 32px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

#background-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(70%)
}

.content-container {
    position: relative;
    z-index: 1; 
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #fff
}

h1 img {
    vertical-align: middle; 
    margin-right: 10px; 
}

.button-container {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    margin-left: 75px;
}

input#btn,
button.register-button {
    padding: 8px 24px; /* Adjust padding for a more prominent button */
    font-size: 18px; /* Increase font size for better visibility */
    color: #fff;
    border: none;
    border-radius: 5px; /* Add rounded corners to the button */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 45px;
}

input#btn {
    background-color: #4CAF50; /* Green color for login button */
}

input#btn:hover {
    background-color: #45a049; /* Darker green color on hover */
}

button.register-button {
    background-color: #28a745; /* Green color for register button */
}

button.register-button:hover {
    background-color: #218838; /* Darker green color on hover */
}

.label {
    font-family: Arial, sans-serif;
    display: inline-block;
    width: 120px; /* Adjust the width as needed */
    text-align: right; /* Right-align the labels */
    margin-right: 10px; /* Add some spacing between the label and input */
    vertical-align: middle; /* Vertically align with the input */
    color: #fff
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between input pairs */
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    font-size: 16px;
    width: 200px; /* Adjust the width as needed */
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}



