
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.logout-container {
  float: right;
}

.topnav .logout-container a {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .logout-container a:hover {
  background-color: green;
}

form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.center-container {
    text-align: center;
    padding: 20px; 
}

.center-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.center-container img {
    margin-right: 10px; 
}

.center-container h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
}

.center-container h1 img {
    vertical-align: middle; 
    margin-right: 10px; 
}

.movement-container {
    margin-left: 20px; 
    border: 1px solid #333; 
    background-color: #e0e0e0;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.movement-container h1 {
    margin-left: 10px; 
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    margin-right: 20px; 
}

.footer-information {
    margin-top: 100px; 
}

.footer-content .footer-information p {
    font-size: 18px;
    text-align: left;
}

.footer-content img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo-img {
    max-width: 200px;
    height: auto;
}