/* payment.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.payment {
    text-align: left;
    padding: 20px;
    margin-left: 180px;
}

.payment h1 {
    font-size: 24px;
}

.payment p {
    font-size: 18px;
}

.payment form {
    max-width: 400px;
    margin: 0 auto;
}

.payment label {
    display: block;
    margin-bottom: 8px;
}

.payment input {
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.payment input[type="radio"] {
    margin-right: 5px;
    display: inline-block;
}

.payment .cvv-input {
    margin-bottom: 16px;
}

#qrCodeImage {
    width: 300px;
    height: auto; 
    border: 2px solid black;
    margin-bottom: 20px;
}

.qr-payment-button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none; /* Remove the default underline */
}

.qr-payment-button:hover {
    background-color: #45a049;
}

.payment button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.payment button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 0px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    font-size: 18px;
    text-align: center;
}

.footer-content img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo-img {
    max-width: 200px;
    height: auto;
}

.footer-content .copyright,
.footer-content .contact {
    text-align: right;
}
