/* payment.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.payment {
    max-width: 600px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment h1 {
    font-size: 24px;
}

.payment p {
    font-size: 18px;
}

.payment form {
    max-width: 400px;
    margin: 0 auto;
}

.payment label {
    display: block;
    margin-bottom: 8px;
}

.payment input {
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.payment input[type="radio"] {
    margin-right: 5px;
    display: inline-block;
}

.payment .cvv-input {
    margin-bottom: 16px;
}

#qrCodeImage {
    width: 300px;
    height: auto; 
    border: 2px solid black;
}

.credit-debit-payment {
    background-color: #04AA6D;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none; 
}

.credit-debit-payment:hover {
    background-color: #45a049;
}

.payment button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.payment button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    margin-right: 20px; 
}

.footer-information {
    margin-top: 100px; 
}

.footer-content .footer-information p {
    font-size: 18px;
    text-align: left;
}

.footer-content img {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo-img {
    max-width: 200px;
    height: auto;
}
